[2015-09-04 20:28] michaeleiselsc commented on #619
You can tell this because when you click the arrow to expand the tests for a given file, when looking in the test navigator, no methods are shown until after you run the full test suite.

[2015-09-07 15:37] fightingForYou opened #643 "Compile fail because of aDescription。"
many files remind me modify the _description with aDescription

[2015-09-08 01:22] #643 closed

[2015-09-10 15:50] Gargam opened #644 "Stuck on [KWProbePoller check:] when using expectFutureValue"
Hello,

I have a growing project on development and I use Kiwi for it.
At first everything was fine but now, when I launch my tests, I'm stuck on a random test that will spinning forever.

When I pause the debugger to see what happen, I could see in the stack that I'm stuck on [KWProbePoller check:] method.

All tests "stuckable" are one using expectFutureValue ... shouldEventually.

Here's a snip

[2015-09-15 21:58] otaran commented on #588
+1

[2015-09-17 14:21] sundeepgupta opened #645 "Test is always passing if running the individual file only."
If I run the entire test suite, every spec runs fine. If I run an individual file, all the specs always pass and the console shows "(null)" for each spec.

For example, this spec:

[code]

Shows this in the console:

[code]

I'm running Kiwi 2.4.0 on Xcode 7.1 Beta.

[2015-09-20 06:19] samkrishna opened #646 "EXC_BAD_ACCESS breaks -[KWSpec runExample]"
This may be related to #571

Platform:
- Mac OS X 10.10.5 (**Mac** application)
- Xcode 7.0 GM
- Kiwi HEAD based on 2.4.0 (I believe the sha1 is `ae9f6d83faf774754ea60a9dfc6556eb23800f47`)

I got a **VERY RELIABLE** `EXC_BAD_ACCESS (code=EXC_I386_GPFLT)` memory crash in `-[KWSpec runExample]`.

It seems as if the `@autoreleasepool` block may be a little over-aggressive in releasing either `self.cu

[2015-09-20 06:31] samkrishna commented on #646
I'm moving this issue to the PR and closing it here.

[2015-09-20 06:31] #646 closed

[2015-09-23 12:36] kanstantsin commented on #645
+1
Can't run individual file tests on Xcode 7.

[2015-09-24 10:32] PetarBel commented on #645
The same problem for me. However, even if I run all tests I can observe the same behaviour. Strangely though, tests work as expected the first time they are run, and things gets messed up on a subsequent run. iOS 9, XCode 7

[2015-09-24 18:03] priteshshah1983 commented on #645
+1

[2015-09-26 17:24] haifengkao commented on #645
+1

[2015-09-29 03:06] yas375 commented on #637
@coridn @IndieKevin I think #649 fixes it. Could you please give it a try?

[2015-09-29 08:37] sloik commented on #571
The same issue is present in Kiwi 2.4.0, Xcode 7 (KWProbePoller.m line 65). Is there a any workaround for this? :)

[code]

[2015-09-29 16:54] glentregoning commented on #637
Confirmed #649 fixes the issue, and is a more general solution to the problem.

[2015-09-29 17:24] IndieKevin commented on #637
Awesome @yas375! Great clean solution, thanks for the great help and for your investigation. :100:

[2015-09-29 17:28] yas375 commented on #637
I'm glad I can help :)

[2015-09-30 20:35] lyahdav commented on #625
I have a recurring intermittent issue where clicking the diamond in the gutter in a file will run the entire suite. Should I open a new issue?
This is Xcode 7.0 (happened on latest Xcode 6.x as well), OS X 10.10.5.
If I click on the gutter a second time it will sometimes run the whole suite, sometimes just that file.

[2015-09-30 21:34] lyahdav commented on #645
I think this is the same issue I just commented on here: https://github.com/kiwi-bdd/Kiwi/issues/625#issuecomment-144535569

[2015-10-05 20:00] lyahdav commented on #551
Is anyone else getting a similar warning after upgrading to Xcode 7? Here's my warning:
[code]

It looks to be coming from the `FRAMEWORK_SEARCH_PATHS` set by Kiwi.

I'm using Kiwi 2.4.0.

[2015-10-06 18:12] #637 closed

[2015-10-15 12:12] mesutoktem opened #650 "XCode 7 testing crashes."
![screenshot at oct 15 15-00-04](https://cloud.githubusercontent.com/assets/5277438/10513272/23c49416-734f-11e5-9fde-6a771adf7ded.png)
aName variable is nil.

[2015-10-18 19:11] PaulTaykalo commented on #573
Try to use mock for specific class
This can happen when you use `[KWMock mock]` instead of using `[KWMock mockForClass:]`

[2015-10-19 12:28] mmesutt commented on #650
Please i need your help urgently :(

[2015-10-20 18:29] dtrenz opened #652 "CONFIG_START - beforeAllSpecs: Never gets invoked."
I'm not sure what I'm doing wrong.

I created a file named Config.m, added it to my unit test target, and put the following in it:

[code]

But, it never gets called when I run tests. Anything obvious I may be missing?

[2015-10-22 14:01] dtrenz commented on #652
Is this a bug, or is this feature still not really supported? I was unable to find any documentation for it.

[2015-10-24 20:58] morganchen12 commented on #603
This looks like an issue setting up your test target, not an issue with Kiwi. Make sure in your test target's `Build Phases` under `Link Binary With Libraries` you've included `GoogleMobileAds.framework`.

[2015-10-26 19:56] cwalcott opened #653 "Deprecation warning in KWHaveValueMatcher"
KWHaveValueMatcher.m is giving a deprecation warning on [line 45](https://github.com/kiwi-bdd/Kiwi/blob/master/Classes/Matchers/KWHaveValueMatcher.m#L45). It is calling `isEqualOrMatches:` which has been [marked as deprecated](https://github.com/kiwi-bdd/Kiwi/commit/cf68c59c51900298ffe64cfb403ab812b994aa04#diff-243d08694702c493bb99d8cf1424328eL13).

[2015-10-27 19:17] ohadschn commented on #614
I can't get it to work either. I placed a bounty on your StackOverflow question: http://stackoverflow.com/questions/30387123/running-a-single-kiwi-spec-with-xctool

[2015-10-28 17:42] Lyricalpanda commented on #645
This is happening for all tests for me for X amount of time after I run the tests. It happens regardless of if it's the individual class or the full test cases. If I switch schemas, it works for the first time, then I get nulls on all of my tests.

Only thing that seems to fix it is to force quit XCode. It's kind of unacceptable.

[2015-10-29 09:21] ohadschn opened #655 "Allow KW_SPEC to specify spec name"
I understand that the current `<file name>:<line number of spec>` syntax allows for flexibility regarding the scope of the tests that run (spec/describe/context/it) but at best, it is unreliable. I couldn't get it to work at all, and even if I did it would be broken the first time someone added or deleted a single line of code.

However the spec name is pretty well defined. If I could say `KW_SPEC

[2015-10-30 15:21] yas375 commented on #645
We are having same issue. Running tests in a single file and it always reports that 1 test has passed, but it doesn't actually executes the tests.

[2015-10-30 18:10] silvaric commented on #606
I have the same problem.
How I can make it right? did you know?

[2015-11-02 21:33] cryptojuice commented on #645
+1

[2015-11-05 13:40] mmesutt commented on #645
+1

[2015-11-06 10:12] alekoleg commented on #645
+1

[2015-11-11 16:11] sbenedicadb opened #657 "KWMocks handled differently in iOS 9+"
Please consider the following code:
[code]

This test runs fine on a simulator targeting iOS 8.4, but throws the following error when run against iOS 9.0 or newer:
[code]

[2015-11-15 07:24] paulz commented on #381
To run selected spec we use the following method:
1. Duplicate scheme with test into something like 'Selected Specs'
2. Mark 'Selected Specs' as not Shared
3. Edit new Xcode scheme and in Test action Info tab under Tests expand interested Test target
4. Uncheck some of the specs to exclude them from 'Selected Specs' scheme test run

We usually keep 2 private schemes: 'Single Spec' and 'Selected Sp

[2015-11-17 23:31] jackyzh commented on #602
I have the same problem with Xcode 7.1.1 OS X El Caption KIWI 2.4.

And when I print `candidateClass` the result is `objc[22110]: pthread_rwlock_rdlock failed (11)
0x00007fa47d035c00`

[2015-11-18 07:49] ios122 commented on #328
receive:withArguments: 如果参数是标量,记得要使用theValue装箱,用@符号是没有用的,比如:

[code]

[2015-11-24 09:41] tamasprezi commented on #607
I've just run into the same issue. Any solutions?

[2015-11-30 22:33] andrey-sikerin opened #660 "NSInvalidArgumentException "Attempt to add non-NSObserver object <> as an observer of <KWMock>" raised"
Hi everyone,

I use Observer pattern and want to test it. Please look some piece of code:

[code]

And I have following test:

[code]

My tests fails due to `- NSInvalidArgumentException "Attempt to add non-NSObserver object <> as an observer of <KWMock>"` raised.

It happens when `[observable addObserver:]` was called inside Object class.

If following line

[code]

is commented, code doesn't rai

[2015-12-02 20:51] sundeepgupta opened #662 "Continuing maintenance?"
Just wondering plans for maintenance on this framework going forward. Thanks.

[2015-12-02 20:51] programmerdave commented on #306
Is this still being actively worked on or was it abandoned last year?

[2015-12-02 20:52] programmerdave commented on #662
+1

[2015-12-03 02:55] sharplet commented on #306
Hi @programmerdave: there hasn't really been much active work happening, no. I think a lot of the team (myself included) haven't had the time.

However from what I hear there are still a lot of users out there actively using Kiwi, and hopefully it's meeting their needs.

[2015-12-03 10:46] ecaselles commented on #662
+1

[2015-12-03 10:52] ecaselles commented on #627
I would not remove/deprecate `theValue()` straight away, since a lot of existing test suites are relying on it :crying_cat_face:. But I think it is a good idea to support auto boxing :+1:. Therefore, I would add it first and in a few months re-evaluate if `theValue()` should be deprecated.

[2015-12-05 12:35] ecaselles commented on #640
@sharplet I have gone ahead with this change, please review #663.

[2015-12-05 20:22] #640 closed

[2015-12-11 02:03] samjarman commented on #662
+1

[2015-12-11 14:52] sanatory opened #665 "Got EXC_BAD_ACCESS when use_framework! is in pods"
1.  Add Kiwi via cocoapods, currently have v2.4.0, have use_frameworks! in the podfile
2. Try to run tests
![screen](https://cloud.githubusercontent.com/assets/14928532/11746617/d4dfa99a-a016-11e5-91b3-63247bfabdad.png)

[2015-12-14 07:19] programmerdave commented on #662
#306

[2015-12-14 07:20] programmerdave commented on #662
Similar to #306

[2015-12-18 06:45] action456789 commented on #665
I do as follows:
Ensure that "Test Host" is is set to $(BUNDLE_LOADER). This specifies the executable that the unit tests will be injected into. We make it match the value of the "Bundle Loader" setting. (Note that this step is not necessary if your target is a static library – you can leave this field blank.)

[2015-12-18 06:49] action456789 opened #666 "Undefined symbols for architecture x86_64:"
I just code as follows:

[code]

[code]

[2015-12-18 17:09] sanatory commented on #665
it doesn't help, still the same issue

[2016-01-04 17:15] #554 closed

[2016-01-06 21:36] glentregoning commented on #454
I have a proposed fix in #667 which in my testing addresses the issue by releasing verifiers after running an example.

[2016-01-06 22:29] glentregoning commented on #254
#667 has a proposed fix which in my testing addresses the issue by releasing verifiers after running an example.

[2016-02-02 13:54] maurobender commented on #588
+1

[2016-02-05 19:54] glentregoning commented on #454
*bump*  - my PR (#667) has resolved this issue for my locally.  It would be great for this to be considered for a future Kiwi release.

[2016-02-14 12:30] lolgear opened #668 "Rare should equal failure with dictionary comparison"
I have a dictionary equality (`[[one should] equal:two]`).

And sometimes this equality failed.

I look through the dictionaries and can't find any differences.

Then I rerun tests and everything fine.

[2016-02-14 12:40] lolgear commented on #662
@programmerdave this repository has million open issues, why not to close most of them? ( It would be cleaner to focus on really needed issues). This one should be closed, no?

[2016-02-25 09:46] lolgear commented on #306
@sharplet do you think this project needs another contributor/team?

[2016-02-25 21:57] sharplet commented on #662
Hey everyone. Big apologies for the silence lately—it's super lame. :neutral_face:

I just want to put this out there: I'd love to add some new collaborators. I'm not aware of a documented policy, but I'm open to talking about it and I think this project would benefit from some much-needed TLC.

If you're interested in become a maintainer or contributing in some other way, please post here.

Pingi

[2016-02-25 21:58] sharplet commented on #306
@lolgear Thanks for your interest! I've just commented about this on #662.

[2016-02-25 22:09] lolgear commented on #662
@sharplet I would like to contribute and focus on my strange issue ( dictionaries are not equal ) with another annoying issue ( Spec always pass when running alone )

[2016-02-25 22:18] lolgear commented on #605
@1960galactus should be closed?

[2016-03-08 06:38] EvanLee commented on #645
+1   The same problem for me。 I must rename the spec name to go on work when this issue happened
![image](https://cloud.githubusercontent.com/assets/6031217/13593964/5f219870-e53b-11e5-9cfe-82d687be7e81.png)

[2016-03-13 07:19] lolgear opened #669 "Is there any possibility to share spec in master branch?"
Is there any possibility to share spec in master branch? I didn't find any.
Could anybody provide example?

[2016-03-23 22:30] eduardoeof opened #670 "Tests crashing after Swift 2.2 update"
Hi,

Today I updated my Xcode to 7.3 (Swift 2.2) and some of my Kiwi tests crashed. I noticed that several (not all) `[[sut should] receive:...` assertions are crashing, but in Xcode 7.2.1 were ok. Do you have any guess?

[2016-03-30 20:26] rjoudrey commented on #670
Are you launching the tests via ⌘U or by clicking the play button on the test?

[2016-03-30 23:10] eduadroeof commented on #670
Via ⌘U. I'm using now Xcode 7.2.1 again and they are working normally.

[2016-03-30 23:15] rjoudrey commented on #670
They work for me in Xcode 7.3

[2016-04-01 13:44] mschandra opened #672 "Undefined symbols for architecture i386:"
I am getting the below issue continuously, after doing clean and build. I tried setting up Kiwi from the scratch, still having the same issue.

Undefined symbols for architecture i386:
  "_OBJC_CLASS_$_KWSpec", referenced from:
      _OBJC_CLASS_$_MathSpec in TestKiwi.o
  "_OBJC_METACLASS_$_KWSpec", referenced from:
      _OBJC_METACLASS_$_MathSpec in TestKiwi.o
  "_describe", referenced from:

[2016-04-20 12:04] trimmurrti commented on #183
Sorry for necroposting. I'm implementing that feature for my own use. Would anyone be interested in that
feature?

What would the preferred syntax be? At the moment I created a separate proxy block class, that intercepts block messages. The syntax I'm thinking of is:
id block = proxy(^{ ... });
[[block should] beEvaluated];

[object performBlock:block];

Also, wanted to ask, what are the Kiwi poli

[2016-05-03 12:01] walkdianzi opened #674 "Kiwi is not in use?"
OCUnit and the SenTestingKit framework are deprecated and  removed from Xcode. So Kiwi is not in use?

![2016-05-03 8 02 29](https://cloud.githubusercontent.com/assets/5734867/14982593/055d3cb2-116a-11e6-88bf-be1c9dcf3a1d.png)

[2016-05-03 12:51] sharplet commented on #674
Kiwi dropped support for OCUnit some time ago. If you have a specific problem, please feel free to open an issue!

[2016-05-03 12:51] #674 closed

[2016-05-04 14:04] bimawa opened #675 "Book not available in my country"
Guys i'm very much want read Test Driving iOS Development with Kiwi
 book. But i can't get it in my country. Maybe someone have it and can share it?

[2016-05-04 15:02] sharplet commented on #675
That's a shame, I hope you can get access to the book somehow. Unfortunately, the book isn't really affiliated with the kiwi-bdd GitHub org, so there's nothing we can do for you here. My guess is that it would be best to try reaching out directly to the author.

[2016-05-04 15:02] #675 closed

[2016-05-04 15:35] bimawa commented on #675
Ohh so sad, i talk with author he can't help me too. Ok i use my Hacks skills for get this book.

[2016-05-05 06:00] bimawa opened #676 "Guys how validate received object?"
I have a async call from network service and want to validate received object. I'm try next:
[code]

But `receiveOrderDetails:` selector getting NSArray with my object; How i can await and get data for test
[code]

[2016-05-05 09:57] bimawa commented on #676
I just validate output object after call target function.

[2016-05-05 09:57] #676 closed

[2016-05-06 11:25] bimawa opened #677 "KWCaptureSpy how it works? Or what i do wrong?"
Guys hi! Help pls can't understand how working `KWCaptureSpy` I try test Async call
In this case all fine, where `receiveOrderDetails` must be async;
[code]

But in next code throw a exception: 'Argument requested has yet to be captured.'
[code]

And i feel not 10 sec of waiting. Its a bug or my break fingers? Version of Kiwi (cocoapods, 2.4)

[2016-05-09 13:40] trimmurrti commented on #662
@sharplet I would like to contribute as well. Could you please specify, what are the plans for 3.0 with a bit more explanations, perhaps? Because the link you gave is a bit opaque in my opinion, so I'm not really sure, if I would have enough time to handle it.

Also, could you please tell, if Kiwi is still supported, as I created a pull-request some time ago, but didn't receive any answer up till

[2016-05-17 20:20] dtaitz opened #678 "Exception when I run a test twice"
Hello,

I recently switched over to Kiwi. I wrote a few specs can successfully run my tests right after I open up my workspace in Xcode. Yet, if I try to run the test again without exiting and reopening my workspace, I get the following error. Please advise

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '+[NSInvocation _invocationWithMethodSignature:frame:]: m

[2016-05-18 03:00] htxs commented on #678
Same to me, but my colleague who use the same code on his computer have no problem.

[2016-05-21 16:14] sharplet commented on #677
Instead of `KWCaptureSpy`, you should be able to use the `receive:` matcher. For example:

[code]

[2016-05-21 16:14] #677 closed

[2016-05-21 16:14] modocache commented on #678
Hey! Sorry for this. Based on your stack trace, which includes `+[XCTestCase testCaseWithSelector:]`, I assume you're running an individual test? Kiwi has never been very good at supporting individual tests... we only really support running all tests (⌘+U).

The [best way to help test frameworks like Kiwi to support this](https://github.com/Quick/Quick/issues/219#issuecomment-215991613) would be t

[2016-05-21 16:14] #678 closed

[2016-05-21 16:16] sharplet commented on #669
Hi! Thanks for your issue. Unfortunately I'm not certain what you're trying to do. If this is still an issue, could you please provide a code sample or describe in more detail? I'll close this issue for now.

[2016-05-21 16:16] #669 closed

[2016-05-21 16:18] modocache commented on #670
@eduardoeof Could you post the stack trace, so we could help diagnose the issue?

[2016-05-21 16:20] sharplet commented on #665
Hi! Thanks for opening an issue. If this is still a problem, would it be possible for you to provide a code sample that reproduces the problem? Can you reproduce the crash in a brand new project?

I'm going to close this for now, but please feel free to comment and we can reopen this if it's still a problem!

[2016-05-21 16:20] #665 closed

[2016-05-21 16:21] #670 closed

[2016-05-21 16:24] sharplet commented on #657
In this case I'd recommend that you don't mock dictionaries. They're value types, and easy enough to create directly. The fact that it's a class cluster further complicates things, too, and could be related to the cause of this change in iOS 9.

[2016-05-21 16:24] #657 closed

[2016-05-21 16:25] modocache commented on #668
@lolgear Thanks for the report! Does this problem still occur? It would be great if you could reduce this down to a smaller test case -- this is the first I've heard of an issue like this with Kiwi, so I wonder if maybe you have a race condition, or some other mutating state, in your tests?

@sharplet and I are trying to do some spring cleaning on open Kiwi issues. We care about fixing this if it'

[2016-05-21 16:25] #668 closed

[2016-05-21 16:28] modocache commented on #666
Thanks for the report, @action456789! It looks like there's a linker error for `KSPerson` -- this isn't a Kiwi class, this is probably something in the library or app you are testing. Are you sure you've linked our library or app to your test bundle? This is normally done automatically by Xcode when starting a new project, or adding a new test target.

I don't think this is a Kiwi issue, so I'll c

[2016-05-21 16:28] #666 closed

[2016-05-21 16:31] sharplet commented on #655
Hi! Thanks for opening an issue. If this is something that you would still find useful and isn't too big of a change, we may consider a pull request for a change like this.

@modocache and I are doing spring cleaning on issues at the moment, so I'm going to close this for now. Feel free to comment if you'd like to discuss this further though!

[2016-05-21 16:31] #655 closed

[2016-05-21 16:48] modocache commented on #660
Thanks for the report, @andrey-sikerin! Hmm... that's a strange error message. I have a feeling it might have something to do with the private Apple `NSObserver` class, and with Kiwi's very powerful mocking capabilities. We might be mocking something unexpected.

For now, if `addListener:` works, I'd recommend just using that. 😅

Sorry for the trouble!

[2016-05-21 16:48] #660 closed

[2016-05-21 16:56] modocache commented on #652
@dtrenz Thanks for the report! Yeah, the lack of documentation is concerning, but as far as I know it should work. I have some questions:

1. Do you have any tests, or is your test suite comprised of just the `beforeAllSpecs` block?
2. Are you running *all* tests (⌘+U), or are you running just one test?

Let me know if you still have access to the code that was giving you a problem, and chime in h

[2016-05-21 16:59] modocache commented on #652
Oops, this turns out to be a regression we can confirm by running the test script. @sharplet is landing a fix now.

[2016-05-21 17:03] modocache commented on #634
Thanks for the idea, @lyahdav! This would certainly be nice to have. :)

@sharplet and I are trying to do some spring cleaning on open Kiwi issues -- I'm going to close this for now, but if you're interested in contributing this, please send a pull request!

[2016-05-21 17:03] #634 closed

[2016-05-21 17:04] modocache commented on #642
This would be nice, if you have time send a pull request some day! :)

[2016-05-21 17:04] #642 closed

[2016-05-21 17:06] modocache commented on #626
Thanks for bringing this up, @Drarok, and thanks for the updates, @sharplet! If there are additional errors/improvements here, please feel free to open a pull request.

[2016-05-21 17:06] #626 closed

[2016-05-21 17:08] modocache commented on #620
This would be nice, but not strictly necessary. I'd welcome a PR, in any case, provided all the tests passed.

[2016-05-21 17:08] #620 closed

[2016-05-21 17:13] modocache commented on #614
I'm merging this issue with #655. See @sharplet's comment there -- it would be nice to support this, and we'd be willing to look at a pull request if you think it'd still be valuable.

[2016-05-21 17:13] #614 closed

[2016-05-21 17:15] #653 closed

[2016-05-21 17:19] modocache commented on #168
Thanks again for this, @eraserhd! If you still think this would be useful, feel free to open a pull request. @sharplet and I are doing some spring cleaning so I'll close this for now. :)

[2016-05-21 17:19] #168 closed

[2016-05-21 17:20] modocache commented on #254
Thanks for the report, @sjmadsen! I'll close this issue to focus the discussion on pull request #667.

[2016-05-21 17:20] #254 closed

[2016-05-21 17:22] modocache commented on #282
This would be great. We may be able to reference https://github.com/orta/vigilant in the implementation. Feel free to open a pull request if you think this would still be nice to have, although I think this might be better as a separate repository.

[2016-05-21 17:22] #282 closed

[2016-05-21 17:25] modocache commented on #295
This would be really cool -- I'd actually like to see this on OCMock or another mocking framework. I'd also like to see Kiwi's mocking features extracted into their own library.

For now, I don't think anyone's up to working on such a large feature, though, so I'll close this.

[2016-05-21 17:25] #295 closed

[2016-05-21 17:26] sharplet commented on #652
I've done a little bit of investigation, and here's what I've found:

- The previous implementation was relying on the "All tests" suite being instantiated by `+[XCTestSuite testSuiteWithName:]`. This seems to have changed.
- It's possible to hook `-[XCTestSuite initWithName:]` instead, but moving the existing implementation to that method causes Xcode itself to crash (!). Maybe dynamically changi

[2016-05-21 17:27] modocache commented on #310
This would be great, and I'd love to see it on https://github.com/Quick/Quick. I don't think we have any resources to implement this on Kiwi, though -- although pull requests would be welcome.

[2016-05-21 17:27] #310 closed

[2016-05-21 17:32] modocache commented on #306
Honestly, this issue holds a special place in my heart. I loved working on Kiwi 3.0!! Still, I think it's clear we don't have the resources to tackle large umbrella issues like this one. For people still interested in making the code changes to support issues herein, please send a pull request. Thanks! :)

[2016-05-21 17:32] #306 closed

[2016-05-21 17:32] modocache commented on #340
Closing this as a "would've been nice to have". :)

[2016-05-21 17:32] #340 closed

[2016-05-21 17:34] modocache commented on #300
Thanks for the report, @prometedor! Sorry we couldn't get to this very quickly. I'm going to close this, if this issue still affects you after three years, I'd recommend you try @Inferis's workaround.

[2016-05-21 17:34] #300 closed

[2016-05-21 17:34] sharplet commented on #645
Hi! Thanks for the issue. At this point our stance is to always run the entire test suite. There are long-standing issues with test navigator integration that are not specific to Kiwi and are also experienced by other testing frameworks that dynamically build test invocations.

@modocache and I are doing spring cleaning on issues at the moment, so I'm going to close this for now.

[2016-05-21 17:34] #645 closed

[2016-05-21 17:35] modocache commented on #360
Thanks for the report, @CraigSiemens! This issue should have been closed in after https://github.com/kiwi-bdd/Kiwi/pull/384 was merged. :)

[2016-05-21 17:35] #360 closed

[2016-05-21 17:43] sharplet commented on #627
I'm going to make a call that introducing a massive breaking change like this isn't worthwhile. Closing for now.

[2016-05-21 17:43] #627 closed

[2016-05-21 17:43] modocache commented on #372
Thanks for the suggestion, @dmeehan1968! I agree this could be improved, either via documentation improvements or changed stub behavior. At this point, I don't think we have the resources to handle a large change to stub behavior, but if someone wanted to send a pull request with documentation updates, I'd be happy to take a look. :)

[2016-05-21 17:43] #372 closed

[2016-05-21 17:46] sharplet commented on #619
This really seems to me like an XCTest / Xcode test navigator issue. This isn't really something we can fix in Kiwi unfortunately. If this is still an issue for you, I'd recommend you file a radar.

[2016-05-21 17:46] #619 closed

[2016-05-21 17:48] modocache commented on #590
Thanks for the idea, @fabb! This would be cool, and has been discussed on other testing/expectation frameworks: https://github.com/Quick/Nimble/issues/28. My thoughts, echoed in that pull request, is that `XCTestExpectation` has too many restrictions -- it requires the current `XCTestCase` to vend expectations, it has very specific usages in mind that don't play well with dynamically generated tes

[2016-05-21 17:48] #590 closed

[2016-05-21 17:48] sharplet commented on #613
@modocache and I are doing some spring cleaning on issues at the moment, and this seems stale. Feel free to open a new issue if you're problem isn't resolved!

[2016-05-21 17:48] #613 closed

[2016-05-21 18:27] bimawa commented on #677
OK worked thank you !

[2016-05-22 18:45] lolgear opened #681 "Shared examples for specs."
@sharplet
Is there any capabilities to use sharedExamples like [Rspec](https://www.relishapp.com/rspec/rspec-core/docs/example-groups/shared-examples)?

In Specta you could use:

[code]

[2016-05-22 19:09] lolgear opened #682 "Rare should equal failure with dictionary comparison [Remastered]."
Well, as I tell before https://github.com/kiwi-bdd/Kiwi/issues/668

dictionaries equal doesn't work well.

I would like to narrow down the area for inspection, but I could only give you a clue:

git: [yourkarma/jwt](https://github.com/yourkarma/JWT)
branch: master ( latest release, for example, 2.0.2 )
JWTSpec.m
describe encoding -> context claims set -> it decode claims set and verify it correctl

[2016-05-23 02:50] modocache commented on #682
Thanks for the remastered version! 😁

So I guess the problem is still occurring? Is it possible to reduce your test case at all? That is, does a dictionary comparison fail stochastically when **not** using code from the JWT project?

I ask because [Kiwi uses `-[NSObject isEqual:]` for its equality matcher](https://github.com/kiwi-bdd/Kiwi/blob/e5ac3379324562ab46fa40afbc79349752857732/Classes/Match

[2016-06-04 09:58] lolgear commented on #682
@modocache hey, how could I isolate this test?
Is it possible to move it to single spec file?
I think no, because kiwi doesn't allow to run single test :(
Single test project as an option?

[2016-06-04 15:35] modocache commented on #682
Hey @lolgear! Yeah, I think a new Xcode project with just this test, and just the source code it's testing, will probably help isolate the problem better.

[2016-06-04 15:42] modocache commented on #681
Thanks for the suggestion, @lolgear! Shared examples are an awesome idea! However, I'd recommend using Specta or Quick for that feature, since they already implement it. We probably don't have the resources to really explore this idea further in Kiwi, so I'm closing this for now.

[2016-06-04 15:42] #681 closed

[2016-06-04 15:42] #605 closed

[2016-06-04 15:43] modocache commented on #605
Feel free to create another issue if there's something bothering you about Xcode specifically 👋

[2016-06-04 20:08] modocache commented on #662
Hey all! I spoke with @sharplet and @orta, and we've decided we're going to move Kiwi to v3.0, which will be Kiwi's last major version. Kiwi will be "done" at that point: a finished product. We'll happily accept pull requests for bug fixes, and release minor version updates (like v3.0.1) in order to push those fixes out to end users. If technologies revealed at WWDC causes minor issues, we'll fix

[2016-06-04 20:09] orta commented on #672
Ouch, it's been a few months since this was posted, any chance you can get us an example project with this behavior?

[2016-06-06 11:59] lolgear commented on #662
@modocache please, don't freeze shared examples! They are so awesome and can not be missed from 3.0 release :(
Besides they add necessary feature ( regression testing for/after refactoring ).

[2016-06-06 13:10] lolgear commented on #682
@modocache
check master branch:
https://github.com/lolgear/JWT
Inspection -> SherlockHolmes project. ( In spec you could find steps to reproduce issue )

[2016-06-06 19:40] modocache commented on #662
@lolgear I hear you. Believe me, it's a tough decision. Still, Kiwi's current set of maintainers just don't have the bandwidth to develop an entirely new feature and make sure it's stable before releasing a finished product. 3.0 isn't intended to be a feature release, after all -- it's intended to mark a finishing point.

[2016-06-06 20:59] ecaselles commented on #681
@lolgear Yes, shared examples are available on Kiwi since [v2.4](https://github.com/kiwi-bdd/Kiwi/releases/tag/v2.4.0) (see #600 on how to use them).

[2016-06-06 21:09] ecaselles commented on #662
@modocache Thanks for the update!

I totally respect your decision and it feels good to do a final release and freeze new features, leaving Kiwi as an stable finished product 👍

However, correct me if I am wrong, but **shared examples are not a new feature**. They have been part of Kiwi since [v2.4.0](https://github.com/kiwi-bdd/Kiwi/releases/tag/v2.4.0), after #600 was merged. Does this mean that

[2016-06-06 21:28] modocache commented on #662
Uhhmm... sorry, not only did I forget that Kiwi implements shared examples, I forgot that **I reviewed your pull request to add them**!! 😱 💦

My bad!! Sorry that was so confusing. My point was that we wouldn't be working on any *new* features for v3.0. As you pointed out, shared examples already exist, and we won't be going out of our way to remove them.

Sorry again!! Phew, that's probably the mo

[2016-06-07 11:29] trimmurrti commented on #662
@modocache Is that the final decision? Wouldn't it be a better idea to transition maintainer rights to some other dev in order to continue the development? Most of my project testing routines are based on Kiwi and it is really sad, that the maintenance and the development is going to be terminated.

[2016-06-07 11:40] orta commented on #662
I think the point here, is the development is stopping from the current maintainers, not the maintenance.

[Specta/Expecta](https://github.com/specta/specta#status) has been this way for about a year, and it's not going to be a problem for people to continue relying on those projects either. I still do, and will for the foreseeable future. The point of @modocache's message above was _you shouldn't

[2016-06-07 12:04] trimmurrti commented on #662
The thing here is, that there are loads of features, that could be implemented. That was the main idea behind my message. That the maintenance will only be till v3.0.1 and WWDC. Afterwards it will be stalled even in bugfixing department, not even to mention new features. Perhaps, I did misunderstood it, but that's what I got from the @modocache message.

Do you mean, that the framework is left alo

[2016-06-13 21:06] ecaselles commented on #662
@modocache No problem at all 😄 . It was a bit confusing at the beginning, but it all makes sense now. 👏

[2016-07-12 01:48] glentregoning commented on #454
*bump* Any update to reviewing my proposed fix over in #667?

[2016-07-12 10:30] orta commented on #454
I've merged #667 - which should mean this can be closed now 👍

[2016-07-12 10:30] #454 closed

[2016-07-20 21:58] asib opened #683 "Unable to run tests on some simulators and physical device"
I have managed to get tests to run on some simulators (4s, 5, iPad 2, iPad Retina).

However, all other simulators give the following errors:

[code]

Further, when I try to run tests on a physical device, I simply get `'Kiwi.h' file not found` in `SampleSpec.m`, which I copied from the [tutorial](https://github.com/kiwi-bdd/Kiwi/wiki/Getting-Started-with-Kiwi-2.0).

I do apologise if this is me b

[2016-08-02 17:15] rermolov opened #684 "Stub with string argument doesn't work in iOS 10"
**Precondition:**
Using `MobileCoreServices.framework`
`target` is real object or mock - doesn't matter

**What I do:**
[code]

**What I expect:**
result is mock

**What I receive:**
result is nil

**Reason:**
`+[KWGenericMatchEvaluator isGenericMatcher:]` detects matcher by looking for a method with signature `bool matches(id)`.
Method with this signature is added by `MobileCoreServices` to `NSSt

[2016-08-02 18:44] modocache commented on #684
Seems like your "best solution" is the way to go here. Let me know if you'd be willing/able to submit a pull request for it!

[2016-08-02 22:23] rermolov commented on #684
Yep, I can create a PR, but it seems that I need an additional information about generic matchers.

I found 2 classes that implements method with signature `- (BOOL)matches:(id)item`: `KWStringContainsMatcher`  & `KWStringPrefixMatcher`.

`KWStringContainsMatcher` implements `KWGenericMatching`, but all public methods marked as `DEPRECATED`.
`KWStringPrefixMatcher` doesn't implement `KWGenericMatc

[2016-08-07 12:21] johnMaster commented on #564
it happen to me.
`@interface WorkFollowViewModel : NSObject
@property (nonatomic, readwrite) NSInteger currentSection;
@property (nonatomic, strong) NSArray * workDataSource;
@end `
I have only implement currentSection getter method . and then I test their setter.
[code]

[2016-08-11 09:29] lolgear commented on #682
@modocache any update?

[2016-08-11 19:01] modocache commented on #682
Not yet, sorry! Will try to find a spare minute during a weekend soon.

[2016-08-11 19:15] modocache commented on #682
Or if you have some spare time before I do, you could take a look at the Kiwi internals to try and figure it out!

[2016-08-25 08:43] ginhoor commented on #683
i have  the same problem （T。T）

[2016-08-31 11:08] zackhsuan opened #685 "Mock instance methods."
Hi all,

Is there any way that I can stub methods for every instance of a class, say NSString.
I can only stub Class method or on an object.

Many thanks

[2016-09-06 10:11] GregoryMaks commented on #588
+1 :(

[2016-09-06 11:18] orta commented on #588
Would any of you like to try fixing it instead of a plus 1?

This is an objective-C codebase with tests, you should be fine to contribute back.

[2016-09-06 11:23] GregoryMaks commented on #588
@orta yep, already working on it. Just discovered the mentioned issue and it took me some time to find out the reason.

[2016-09-06 11:24] orta commented on #588
Awesomebeans

[2016-09-12 14:03] GregoryMaks commented on #588
I made some research and tried to provide a reasonable fix, but found out that my fix breaks some tests that seems to have some sense in them. Let me explain.

If you look at the test below (from `KWFunctionalTests.m : 140`) you may see how the logic goes here.
First of all first two 'lets' are computed, next we verify the variables, they are fine, after this we go inside the first context and ove

[2016-09-12 14:39] orta commented on #588
So this is only my opinion, and it only come from using it in Rspec - but the idea of dynamic scope based re-declarations of `let` feels off to me.

IMO this should raise:

[code]

Related to that, Step 4 feels like a bug to me, if the let's are being re-evaluated on a per-describe context. @supermarin's example seems like a much more common use case to me

[2016-10-11 18:09] adamwdennis commented on #678
This is the single biggest reason we're considering abandoning Kiwi.

[2016-10-11 20:18] orta commented on #678
I use [Xcode schemes, and focus tests](https://artsy.github.io/blog/2016/04/06/Testing-Schemes/) to get that kind of behaviour (with Specta/Quick but they all have the same problems )

[2016-10-13 16:12] limfinity opened #686 "Partially mocked UIApplication failing tests because of unrecognized selector"
**Precondition:**
Using [Bolts](https://github.com/BoltsFramework/Bolts-ObjC) framework and async testing;
`applicationMock` is a **partially** mocked object of UIApplication

**What I do:**
`[UIApplication stub:@selector(sharedApplication) andReturn:applicationMock];`
Then I test to open URLs on that mocked object

**What I expect:**
Test runs without errors

**What I receive:**
Test fails becaus

[2016-10-13 16:22] orta commented on #686
I think you're just going to have to stub those methods. It would be a bad idea for Kiwi to try and keep track of selectors to avoid, as they change per-OS ( as you've found )  and sometimes you might want to realistically test for an underscore'd method.

One thing you could do - is make a library that generally mocks out classes with the known private internals like this, I've co-done this with

[2016-10-13 21:47] nakp opened #687 "Use predicate in stubbed properties when filtering mock objects in array"
I have 2 mock's in a array, and properly stubbed both's name property (`mock1.name = @"mock1"` and `mock2.name = @"mock2"`, `items` is the array holding both objects)

[code]

returns an empty array, can't we use stubs with predicates?

[2016-10-17 13:05] limfinity commented on #686
Thanks @orta! I stubbed the methods manually as you suggested.

[2016-10-17 13:05] #686 closed

[2016-10-20 16:18] nakp commented on #687
The solution is to also stub the method valueForKey that NSPredicate uses, like this:

[code]

[2016-10-20 16:18] #687 closed

[2016-11-18 11:05] Gaurav-Newgen commented on #598
[[expectFutureValue(theValue([client isAuthenticated])) shouldEventually] beYes];

should be

[[expectFutureValue(theValue([client isAuthenticated])) shouldEventually] equal:theValue(YES)];

[2016-12-02 08:42] kdkaur89 opened #688 "Macros autocomplete not working"
Autocomplete for expectations not working. Please suggest resolutions

[2017-01-05 23:40] daveanderson commented on #579
Hit this today, disabled `KW_TARGET_HAS_INVOCATION_EXCEPTION_BUG` and not experiencing any issues with it disabled.

[2017-02-08 06:05] fsp1990 opened #689 "when the second run testCase, not real run and success directly"
![image](https://cloud.githubusercontent.com/assets/12730798/22725315/ac5dc6c4-ee07-11e6-9033-3bc93c9c9dd3.png)

[2017-02-19 16:58] mihailsalari opened #691 "Swift 3 cocoapods run failed"
Swift 3 cocoapods run failed

[2017-02-19 17:26] orta commented on #691
Please give a more instructive issue - reproduction steps, sample apps ect.

[2017-02-19 17:26] #691 closed

[2017-02-19 17:31] mihailsalari commented on #691
Why this issue is closed? You resolve it?

[2017-02-19 17:32] mihailsalari commented on #691
Try to install that framework via Xcode 8 and import it. You will see the error. Swift project

[2017-04-04 15:14] stigger opened #692 "Tests are executed in a wrong order under certain conditions (Xcode 8.3, single suite)"
Xcode 8.3 sometimes orders the tests within a suite alphabetically. If two different tests have clashing prefixes, this leads to the incorrect execution order.

[code]

Run as usual, everything is correct:
[code]

Now go to the test navigator end click the "play" button next to "SpecWithSameNames":
[code]

[2017-05-19 06:11] MichaelGuoXY opened #693 "Please help me :D Invalid pointer dequeued from free list"
malloc: *** error for object 0x60000068d8e0: Invalid pointer dequeued from free list
*** set a breakpoint in malloc_error_break to debug

`thread #1, queue = 'com.apple.main-thread', stop reason = signal SIGABRT
    frame #0: 0x0000000113451d42 libsystem_kernel.dylib`__pthread_kill + 10
    frame #1: 0x0000000113489457 libsystem_pthread.dylib`pthread_kill + 90
    frame #2: 0x00000001131e388f libs

[2017-06-01 11:43] ecaselles commented on #662
@sharplet @modocache @orta how is v3.0 coming along? 🤔 I am aware that no new features will be added. But I think we have got some good maintenance work (e.g. [removing annoying warnings](https://github.com/kiwi-bdd/Kiwi/pull/656)) that have been merged into master since the last release ([2.4.0](https://github.com/kiwi-bdd/Kiwi/commit/974f95851e290cd588b460a12eecd9a42c21bdc6)) and it would be gre

[2017-06-03 09:48] marcuswu0814 opened #694 "A sharedExample in another"
Hi, @ecaselles
Thanks for the implement of sharedExample, this is useful for me.

But when I used it, I face some question,
Is possible used a sharedExample in another sharedExample?

[2017-06-12 15:47] sharplet commented on #662
@ecaselles Thanks for your patience so far. I've just sent you an invite to the team, so if you can help move things along that would be fantastic!

[2017-06-13 09:15] ecaselles commented on #694
Hi @marcuswu0814,

TBH, I don't think I have ever tried 🤷🏻‍♂️ I can't think of a reason (without checking the implementation again) on why not. But I will try to write a test for it and let you know. If you have already tried and have an example or sample project, it would be great if you share your findings 😉

[2017-06-13 10:39] ecaselles commented on #662
Thanks @sharplet. Let's make it happen 💪

[2017-06-13 10:47] marcuswu0814 commented on #694
Hi @ecaselles

It will crash before running test at run time.
Just using `itBehavesLike()` in another shareExample can reproduce this problem.

Crash log

[code]

[2017-07-19 02:12] DreamOfXM opened #695 "kiwi report error that' SenTestingKit/SenTestingKit.h file not found'"
I search in the internet and konw that  SenTestingKit framwork is depreated，but you do not remove it from kiwi. when I run your progect ,it show a large piece of red error.I wondered if you were not maintaining it in the future?

[2017-08-24 12:25] alirezaniki opened #696 "build synthetic seismogram in a specific station"
Hi everyone
I have to have a script that read :

(1) source latitude, longitude, depth, and fault parameters e.g., strike, rake, dip, length of fault, M0 etc

(2) station coordinate e.g., latitude, longitude

(3) velocity model

then create synthetic seismogram at that station. Do you have such script or can you give me some hints how can I do it using KIWI.
many thanks

[2017-08-24 13:28] orta commented on #696
This is the wrong repo for that, this is an objective-c test runner for macOS and iOS projects. I did a quite googling but don't really know where to refer you. Good luck.

[2017-08-24 13:28] #696 closed

[2017-08-24 13:29] orta commented on #695
SenTestingKit was never shipped with Kiwi, it came with Xcode 4.x - and was replaced by XCTest by 5.x and onwards. You'll need to update Kiwi if you are moving Xcode versions.

[2017-08-24 13:29] #695 closed

[2017-09-05 07:57] DreamOfXM commented on #695
I insatall your kiwi through pod kiwi,but install wrong version.I hope you can resolve it 

[2017-09-07 09:51] VladKorzun opened #697 "Stop tests execution if one test is failed"
Is there a way to stop tests execution if any test is failed? My first couple tests are checking for correct app setup and if there something wrong (server is down or an error occurred) I have no need to continue testing because all other test will fail for sure.

[2017-09-07 11:02] orta commented on #697
Not to my knowledge, you could build this.

Perhaps by reading the environment variables for a specific one and calling exit(1) on the fail?

[2017-09-12 07:14] fabb opened #698 "Xcode 9: `any` Macro Conflicts with Generated Swift Header Macro `SWIFT_MODULE_NAMESPACE_PUSH`"
Xcode 9 generates a new `SWIFT_MODULE_NAMESPACE_PUSH` macro in generated Swift headers of mixed ObjC/Swift projects.

[code]

When we need to import the bridging header in a unit test file (e.g. when writing unit tests in ObjC but we need to access a Swift type), we have a problem when we first import Kiwi, and then the generated Swift header.

[code]

The Swift macro references an existing `any`

[2017-09-12 23:41] Lucashuang0802 commented on #571
+1

[2017-09-21 16:00] drosenstark commented on #698
Thanks @fabb! For those of us who are winging it: `KiwiMacros` doesn't contain any of the words in the macro. What would one modify in macros?

[2017-09-26 10:24] ecaselles commented on #698
Thanks for raising this @fabb. We are seeing a similar issue ourselves. Not sure what would we like to go with, renaming the macro would be a first step, not sure if the best one though. Any ideas / suggestions?

[2017-09-26 11:11] fabb commented on #698
I‘d suggest renaming it, maybe prefix it.

[2017-09-27 09:53] ecaselles commented on #698
@fabb yeah, that makes sense 👍 I was asking for ideas / suggestions on the actual renaming / prefixing?

IMHO, I see prefixing as a fallback solution (e.g. `kw_any`), acceptable only if we are able to come up with a new name that represents better the purpose of this macro (e.g. `anything`, `anyValue`, `matchingAny` or even `star` 🤣)

I would like to push a new release to get a tagged version matc

[2017-09-27 10:11] ecaselles opened #699 "Preparing next release"
I would like to push a new release of Kiwi out to include what it is currently on master, plus the fixes needed to ensure compatibility with Xcode 9 (which we are currently working on).

Initially, the work included in this milestone would be:

- [x] Everything already merged to master since 2.4.0 (see [diff](https://github.com/kiwi-bdd/Kiwi/compare/v2.4.0...master))
- [x] Fixing CI builds (#703)

[2017-09-27 10:59] orta commented on #699
Dang, yeah, that's 2 years worth of PRs, should probably do it at 2.5 if there's no source breaking changes

[2017-09-27 11:24] ecaselles commented on #699
Thanks @orta, happy to go with 2.5 👍

The only breaking change might the one we are about to introduce to fix #698. 🙏 leave any suggestions there if you think there is a way to fix it without breaking previous versions.

[2017-09-27 14:25] orta commented on #698
In my JS, I'm used to `Jest.anything()` could it be something like `Kiwi.any`?

[2017-09-28 07:49] seboslaw opened #700 "theValue(BOOL) not working with should receive"
Hey guys,

I have the following issue.

code does:
[code]

test does:

[code]

The problem is that this should/receive validation fails with

[code]

Interestingly enough, if I replace the [CLLocationManager nullMock] with a regular mock [CLLocationManager mock] I get the following error:

[code]

So it seems to me like the mapping of theValue(TRUE) is not working correctly here?

[2017-09-29 21:26] drosenstark commented on #698
To answer my own question, @ecaselles and @fabb are saying that if you change the line in Kiwi/Classes/Core/KiwiMacros.h from:

[code]
to something with a prefix like:

[code]

(and then replace `any()` in your code with `kw_any()`... the whole thing will work.

This is unless you can manage to get your Kiwi import to come after your bridging header import, which is probably the smart way to go if

[2017-10-11 09:09] AwayQuEM commented on #606
It seems not support for scale value, i find the source is implements with method signature invoke, but not find the implement of match method signature return value with obj like this @(YES).

[2017-10-27 09:17] MichaelGuoXY commented on #698
Any progress on this issue?

[2017-12-07 05:46] grevolution commented on #699
any update on #698

[2017-12-13 04:33] scottdensmore commented on #699
What is the plan for getting Xcode 9 support? Is this something that is going to be done?

[2017-12-15 12:49] ecaselles commented on #699
Yes @scottdensmore. I will have a look at the work done by @SevInf and hopefully will try to get the new build out before the end of the year

[2017-12-19 04:13] scottdensmore commented on #699
Thanks @ecaselles. Anything we can do to help?

[2017-12-22 12:36] ecaselles commented on #699
@scottdensmore I am currently reviewing the two PRs opened by @SevInf and hoping to get a green build. Not sure about #701, looks like if we can't keep backwards compatibility, it is just not a minor version bump.

[2018-01-08 15:56] ecaselles commented on #699
FYI I will be tagging this release as 3.0, as it will introduce a breaking changes (#701)

[2018-01-09 15:32] #698 closed

[2018-01-12 12:27] #699 closed

[2018-01-31 04:18] Ad1991 commented on #560
Definitely required. Not sure why nobody has looked at this issue for so long? Even partial mocks return nil for `valueForKey` though actual object returned correct value.

[2018-02-02 11:30] PatrickDotStar opened #707 "XCTest.framework/XCTest' does not contain bitcode"
Using Kiwi 3.0.0

When trying to run the Unit Tests on a real device, Xcode trows an error saying `You must rebuild it with bitcode enabled`. Running the tests on simulator works fine.
Nimble had a similar [issue](https://github.com/Quick/Nimble/issues/170). They way I solved this is setting the `ENABLE_BITCODE` to `NO` using cocoapods

[code]

`ld: '/Applications/Xcode.app/Contents/Developer/Plat

[2018-02-13 22:00] bengovernment commented on #688
Do your tests compile/run? Is everything else working properly?

[2018-04-13 08:36] jsonseng opened #708 "KWMatcher Bug"
line 33
`if ([_subject isKindOfClass:[KWFutureObject class]]) {`

The Unit Test can't found the symbols. so the method of isKindOfClass doesn't work

[2018-04-13 08:36] jsonseng commented on #708
KWMatcher.m

[2018-04-13 08:49] jsonseng commented on #708
the cocospod file needs to choose the unit test target.
If not, the method of isKindOfClass won't find the symbols. the expectFutureValue will always fail

[2018-04-13 08:49] #708 closed

[2018-08-03 10:24] jeremyzj opened #710 "How to test cadisplaylink"
HI, friends

[code]

How to write unit test for CADisplayLink.

I write the kiwi is
[code]

But the function `tick` cannot code coverage

[2018-08-03 10:51] xpolb01 opened #711 "Oops… the system encountered a problem (#500) - Retrying in X:XXs…"
When having multiple accounts Kiwi displays a following message for two of them. The one that I've logged into first is fine:
<img width="991" alt="screen shot 2018-08-03 at 1 43 33 pm" src="https://user-images.githubusercontent.com/13209628/43639146-efd5ecbc-9723-11e8-8a81-504ad6517fbe.png">
It's will disappear if you will right click and click reload.

[2018-08-03 19:48] #711 closed

[2018-08-03 19:48] orta commented on #711
This is the wrong repo, you want kiwi for Gmail

[2018-08-27 06:31] iamprabal opened #712 "SharedExample with multiple 'it' blocks"
Hi,
Here's my code:

_File 1 : SharedExample code_

SHARED_EXAMPLES_BEGIN(GameGeneric)
sharedExamplesFor(@"game", ^(NSDictionary *data) {
    __block Game *game;

    beforeEach(^{
        game = [data objectForKey:@"gameObj"];
    });

    it(@"has 0 score", ^{
        [[theValue(game.gameScore.integerValue) should] beZero];
    });

    it(@"should conform GameUIActionListener", ^{
        [[gam

[2018-08-27 09:38] #712 closed

[2018-09-03 13:30] satinder-singh-axway opened #713 "SIGABRT: kiwi crashes at KWProbePoller"
Using kiwi 3.0

When running the Unit Tests for my app, Xcode crash when framework try to "verifyTheProbe".

Details backstrace attached, issue producible easily (not 100%).

<img width="1792" alt="screen shot 2018-09-03 at 6 28 33 pm" src="https://user-images.githubusercontent.com/40796126/44988544-b1f83380-afa8-11e8-9371-a9c4cae2d590.png">

[2018-09-05 09:09] iamprabal commented on #645
Is this resolved in a newer version? I started with Kiwi just a month back, having already had a huge iOS codebase written in ObjC, thus I have a mammoth task of writing a lot of test cases on existing codebase. It would have been really very very helpful if I could just run one spec file at a time and not the whole suite of tests.

[2018-09-05 13:58] Lyricalpanda commented on #645
I would highly recommend not using Kiwi if you're doing your test cases from scratch. The last commit was 8 months ago and this issue hasn't been resolved, according to this open ticket from 2017: https://github.com/kiwi-bdd/Kiwi/issues/689

[2018-09-05 17:50] iamprabal commented on #645
@Lyricalpanda do you recommend one of Quick or Specta instead? From what I could read online, Quick is useful for swift based codebase and Kiwi seemed to be the more popular choice for ObjC, though I am not sure how it'll compare to Specta? Do you have a recommendation?

[2018-11-15 07:50] #587 closed

[2019-04-18 19:56] haifengkao commented on #707
to make PatrickDotStar's answer for clear
add the following to the Podfile
[code]

[2019-05-10 07:35] chopper6667 opened #715 "High price acquisition apple enterprise developer account"
公司项目紧急高价收购一个苹果企业账号，出手的可以加我QQ 542357086
Company project urgent ，need one apple enterprise developer account ，if you want to sell ，Feel free to contact me
skype 634242887@qq.com
email 634242887@qq.com
telegram  ypjovi

[2019-05-10 10:27] #715 closed

[2019-09-26 03:48] FaceWaller commented on #263
you can use like this
`NSObject<xxx> * delegate = [KWMock mockForProtocol:@protocol(xxx)];`

the protocol should contain your func

[2020-01-29 12:23] #592 closed

[2020-01-30 17:27] ecaselles opened #719 "Preparing a new version - Upgrading to Xcode 11"
After having managed to skip support Xcode 10 😅, Xcode 11 is throwing a few warnings when using Kiwi.

I am putting together a new version to support Xcode 11 and while doing that, I will be reviewing any other PR that seems almost ready to go in.

If you have any changes or PRs that you would like to get into the release, please ping them here and we can work together.

Thanks!

[2020-03-19 07:05] isimple4 commented on #606
I changed `theValue(YES)` to `theValue(1)` in stub return, which works fine now in ver 3.0.

[2020-06-24 08:34] bamx23 commented on #719
Maybe it is better to check if everything OK with Xcode 12 and make a release?

[2020-06-27 19:20] ecaselles commented on #719
Hey @bamx23! Yes, that make sense. Have you checked it by any chance? Are there any major problems?

If there are issues and they don't seem immediate to fix, I would still try to release this version supporting Xcode 11 and then start working on a new one for Xcode 12. Does that make sense?

[2020-06-27 19:27] bamx23 commented on #719
I haven't checked Xcode 12 integration yet, but I'll try it next week.

But I think it's a good idea to release current changes anyway because I still face the same problems with the issue I fixed in #716 sometimes.

[2020-07-09 08:31] amir-majidi commented on #707
go to your target name => build setting=> EnableBitcode
change the value to no

[2020-07-14 13:59] bamx23 commented on #719
I've been working with unit tests and Kiwi in Xcode 12 for about a week without any problems. No new warnings either.

[2022-04-28 14:57] #526 closed, assigned to nobody